    <!-- Main Content -->
    <main class="main-content">
        
        <!-- components  -->


    {% include 'admin/components/navbar.html' %}

    {% include 'admin/components/products.html' %}

    {% include 'admin/components/coupons.html' %}

    {% include 'admin/components/contacto.html' %}

    {% include 'admin/components/pagos.html' %}

    {% include 'admin/components/inventario.html' %}

    {% include 'admin/components/ventas.html' %}

    {% include 'admin/components/usuarios.html' %}

    {% include 'admin/components/reportes.html' %}




    </main>