    <!-- Sidebar -->
    <aside class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <img src="{{ url_for('static', filename='assets/costanzoWhite.png') }}" alt="Chocolates Costanzo"
                class="login-logo">

            <button class="sidebar-toggle" id="sidebarToggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <nav class="sidebar-nav">
            <ul>
                <li>
                    <a href="#productos" class="nav-item active" data-section="productos">
                        <i class="fas fa-box"></i>
                        <span>Productos</span>
                    </a>
                </li>
                <li>
                    <a href="#inventario" class="nav-item" data-section="inventario">
                        <i class="fas fa-boxes"></i>
                        <span>Inventario</span>
                    </a>
                </li>

                <li>
                    <a href="#ventas" class="nav-item" data-section="ventas">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Ventas</span>
                    </a>
                </li>

                <li>
                    <a href="#reportes" class="nav-item" data-section="reportes">
                        <i class="fas fa-chart-bar"></i>
                        <span>Reportes</span>
                    </a>
                </li>
                <li>
                    <a href="#pagos" class="nav-item" data-section="pagos">
                        <i class="fas fa-credit-card"></i>
                        <span>Pagos</span>
                    </a>
                </li>
                <li>
                    <a href="#cupones" class="nav-item" data-section="cupones">
                        <i class="fas fa-tags"></i>
                        <span>Cupones</span>
                    </a>
                </li>
                <li>
                    <a href="#contacto" class="nav-item" data-section="contacto">
                        <i class="fas fa-envelope"></i>
                        <span>Mensajes</span>
                    </a>
                </li>
                <li>
                    <a href="#usuarios" class="nav-item" data-section="usuarios">
                        <i class="fas fa-users"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="sidebar-footer">

        </div>
    </aside>