<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chocolates Costanzo - Tradición y Sabor desde 1932</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- Navbar -->
    {% include 'components/navbar.html' %}

    <!-- Slider -->
    {% include 'components/slider.html' %}

    <!-- Categorias  -->
    {% include 'components/categories.html' %}

    <!-- Favoritos  -->
    {% include 'components/favorites.html' %}
     
    <!-- Productos  -->
    {% include 'components/products.html' %}

    <!-- Historia  -->
    {% include 'components/history.html' %}

    <!-- Sobre Nosotros  -->
    {% include 'components/aboutUs.html' %}

    <!-- FAQ  -->
    {% include 'components/faq.html' %}

    <!-- Contact  -->
    {% include 'components/contact.html' %}

    <!-- Footer  -->
    {% include 'components/footer.html' %}


    <!-- Carrito de Compras  -->
    {% include 'components/cart.html' %}

    <!-- Loading  -->
    <div id="loader-logo-path" data-src="{{ url_for('static', filename='assets/costanzo.png') }}"></div>


    <!-- Overlay -->
    <div class="overlay" id="overlay"></div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/products.js') }}"></script>

</body>

</html>