<!-- Navigation -->
<nav class="navbar" id="navbar">
    <div class="container">
        <div class="nav-wrapper">
            <div class="logo">
                <img src="{{ url_for('static', filename='assets/costanzo.png') }}" alt="Chocolates Costanzo">
                <!-- <span>Chocolates Costanzo</span> -->
            </div>
            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-menu" id="navMenu">
                <li><a href="#inicio" class="nav-link active">Inicio</a></li>
                <li><a href="#productos" class="nav-link">Productos</a></li>
                <li><a href="#favoritos" class="nav-link">Favoritos</a></li>
                <li><a href="#historia" class="nav-link">Historia</a></li>
                <li><a href="#sobre-nosotros" class="nav-link">Sobre Nosotros</a></li>
                <li><a href="#faq" class="nav-link">FAQ</a></li>
                <li><a href="#contacto" class="nav-link">Contacto</a></li>
            </ul>
            <div class="nav-icons">
                <button class="icon-btn" id="cartBtn">
                    <i class="fas fa-shopping-cart"></i>
                    
                </button>

                <div class="dropdown">
                    <button class="icon-btn dropdown-toggle" id="userDropdown" onclick="toggleDropdown()">
                        <i class="fas fa-user"></i>
                    </button>
                    <div class="dropdown-menu" id="dropdownMenu">
                        {% if session.get('autenticado') %}
                        {% if session.get('admin') == 1 %}
                        <a href="{{ url_for('admin.adminPanel') }}">Panel de administrador</a>
                        {% endif %}
                        <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
                        {% else %}
                        <a href="{{ url_for('main.login') }}">Iniciar sesión</a>
                        <a href="{{ url_for('main.register') }}">Registrarse</a>

                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>
</nav>